@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right top, #4B4453, #53596E, #557087, #56889A, #5DA0A6, #72B8AA);
}

body,
.video-controls,
.video-timer,
.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 900px;
    width: 98%;
    background: #333;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.wrapper::before {
    content: "";
    bottom: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: calc(100% + 35px);
}

.container video {
    width: 100%;
}